<div class="register-container">

    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="title">
          <h1>Register</h1>
        </div>
        <p>Enter your details to create an account</p>

        <label>Name</label>
      <div class="input-section">



        <input type="text" placeholder="Enter Name" formControlName="name">
      </div>
      <div class="error-text">
        @if(name?.invalid && (name?.dirty || name?.touched)) {
            <span > @if(name?.errors?.['required']) {Name is required.}
            @if(name?.errors?.['minlength']) {Name must be at least 3 characters long.}
            </span>
        }
      </div>

        <label>Email</label>
      <div class="input-section">
        <input type="text" placeholder="Enter Email" formControlName="email">
      </div>
      <div class="error-text">
        @if(email?.invalid && (email?.dirty || email?.touched)) {
            <span > @if(email?.errors?.['required']) {Email is required.}
            @if(email?.errors?.['pattern']) {Invalid email format.}
            </span>
        }
      </div>

        <label>Password</label>
      <div class="input-section">
        <input type="password" placeholder="Enter Password" formControlName="password">
      </div>
      <div class="error-text">
      @if(password?.invalid && (password?.dirty || password?.touched)) {
            <span > @if(password?.errors?.['required']) {Password is required.}
            @if(password?.errors?.['minlength']) {Password must be at least 6 characters long.}
            </span>
        }
      </div>


        <label>Confirm Password</label>
      <div class="input-section">
        <input type="password" placeholder="Confirm Password" formControlName="confirmPassword">
      </div>
        <div class="error-text">
      @if(confirmPassword?.invalid && (confirmPassword?.dirty || confirmPassword?.touched)) {
            <span > @if(confirmPassword?.errors?.['required']) {Confirm Password is required.}
            @if(confirmPassword?.errors?.['minlength']) {Confirm Password must be at least 6 characters long.}
            </span>
        }
      </div>

      <button type="submit" [disabled]="registerForm.invalid">
        <i class="pi pi-user-plus" style="font-size: 1rem"></i>
        Register</button>

      <div class="link-text">
        Already have an account? <a [routerLink]="['/login']">Login here</a>
      </div>
    </form>
</div>
