.dashboard-container {
  display: flex;
  flex-direction: column;
  padding-left: 256px;
  padding-top: 58px;
}

.dashboard-header {
  p {
    margin-top: 5px;
    color: #666;
    font-size: 14px;
  }
}

.primary-container {
  padding-top: 25px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  position: relative;

  > div {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 16px;
    min-height: 100px;
    transition: 0.2s ease;

    h3 {
      font-size: 13.67px;
      line-height: 20px;
      font-weight: bold;
    }

    .count {
      font-size: 38px;
      font-weight: bold;
    }

    i {
      font-size: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    p {
      color: gray;
      font-size: 11.81px;
    }
  }
}

.card-primary-container {
  display: flex !important;
  flex-direction: row !important;
  justify-content: space-between;
  align-items: center;

  i {
    display: block !important;
    font-size: 24px;
    align-self: center;
  }
}

.card-primary-container:nth-child(1) .count { color: #374151; }
.card-primary-container:nth-child(1) i { color: #9CA3AF; }

.card-primary-container:nth-child(2) .count { color: #16A34A; }
.card-primary-container:nth-child(2) i { color: #16A34A; }

.card-primary-container:nth-child(3) .count { color: #2563EB; }
.card-primary-container:nth-child(3) i { color: #2563EB; }

.card-primary-container:nth-child(4) .count { color: #9333EA; }
.card-primary-container:nth-child(4) i { color: #9333EA; }

.card-primary-container:nth-child(5) .count { color: #EA580C; }
.card-primary-container:nth-child(5) i { color: #EA580C; }

.card-primary-container:nth-child(6) .count { color: #DC2626; }
.card-primary-container:nth-child(6) i { color: #DC2626; }


// .completed-tasks .count {
//   color: #16A34A;
// }
// .completed-tasks i {
//   color: #16A34A;
// }

// .pending-tasks .count {
//   color: #2563EB;
// }
// .pending-tasks i {
//   color: #2563EB;
// }

// .completionRate-tasks .count {
//   color: #9333EA;
// }
// .completionRate-tasks i {
//   color: #9333EA;
// }

// .dueToday-tasks .count {
//   color: #EA580C;
// }
// .dueToday-tasks i {
//   color: #EA580C;
// }

// .overdue-tasks .count {
//   color: #DC2626;
// }
// .overdue-tasks i {
//   color: #DC2626;
// }

.secondary-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  margin-top: 10px;
}

.category-section {
  border-radius: 10px;
  padding: 24px;
  border: 1px solid #ddd;

  h2 {
    margin-bottom: 10px;
    font-size: 22.31px;
    font-weight: 700;
  }

  table {
    border-collapse: collapse;
    border: none;

    tr {
      border-bottom: 1px solid white;
    }

    td {
      border: none;
      padding: 14px 10px;
      font-size: 15px;
      color: gray;
    }
  }
}

.recent-activity {
  border-radius: 10px;
  padding: 24px;
  border: 1px solid #ddd;

  h2 {
    margin-bottom: 10px;
    font-size: 22.31px;
  }
}

.new-tasks,
.active-category,
.attention-needed {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  background: rgb(188 188 188 / 0.16);
}

.newTask-left,
.activeCategory-left,
.attention-needed-left {
  h3 {
    margin-bottom: 4px;
    font-size: 15.5px;
    font-weight: 400;
    line-height: 16px;
  }

  p {
    color: #777;
    font-size: 13.56px;
    line-height: 14px;
  }
}

.newTask-right,
.activeCategory-right {
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
}

.attention-needed {
  border: 1px solid pink;

  h3 {
    font-weight: 400;
    font-size: 15.63px;
    line-height: 24px;
    color: #991B1B;
  }

  p {
    color: red;
    font-weight: 400;
    font-size: 13.56px;
    line-height: 20px;
  }
}

.empty-state {
  padding: 30px 0;
  text-align: center;
  color: gray;
}
