<div class="login-container">

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="title">
          <h1>Login</h1>
        </div>
        <p>Enter your credentials to access your tasks</p>

      <div class="input-section">
        <p-floatlabel>
          <input pInputText id="over_label" formControlName="email" autocomplete="off" />
          <label for="over_label">Email</label>
        </p-floatlabel>
      </div>
      <div class="error-text">
        @if(email?.invalid && (email?.dirty || email?.touched)) {
            <span > @if(email?.errors?.['required']) {Email is required.}
            @if(email?.errors?.['pattern']) {Invalid email format.}
            </span>
        }
      </div>

      <div class="input-section">
        <p-floatlabel>
          <input type="password" pInputText id="over_label" formControlName="password" autocomplete="off" />
          <label for="over_label">Password</label>
        </p-floatlabel>
      </div>
      <div class="error-text">
        @if(password?.invalid && (password?.dirty || password?.touched)) {
            <span > @if(password?.errors?.['required']) {Password is required.}
            @if(password?.errors?.['minlength']) {Password must be at least 6 characters long.}
            </span>
        }
      </div>

<!--      <p-toast position="top-right"  />-->
      <button type="submit" [disabled]="loginForm.invalid">
        <i class="pi pi-sign-in" style="font-size: 1rem"></i>
        Login
      </button>

        <div class="link-text">
            Don't have an account? <a [routerLink]="['/register']">Register here</a>
        </div>
    </form>
</div>
