.category-container {
  display: flex;
  flex-direction: column;
  padding-left: 256px;
  padding-top: 58px;
  padding-right: 20px;
}

.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;

  .header-left {
    p {
      margin-top: 5px;
      color: #666;
      font-size: 14px;
    }
  }

  .btn-add {
    background: #2f2f2f;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: 0.2s ease;

    &:hover {
      background: gray;
      color: black;
    }
  }
}

.categories-container {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 20px;

  h3 {
    margin-bottom: 15px;
  }
}


//td button {
//  border: 1px solid #ddd;
//  background: black;
//  color: white;
//  padding: 7px 12px;
//  margin-right: 6px;
//  border-radius: 4px;
//  cursor: pointer;
//  transition: 0.2s ease;
//  font-size: 13px;
//
//  &:hover {
//    background: gray;
//    color: black;
//  }
//}

.empty-state {
  text-align: center;
  padding: 50px 20px;

  p {
    color: #777;
    font-size: 15px;
  }
}

::ng-deep .p-dialog {
  background: white !important;
  color: black !important;

  label {
    display: block !important;
    font-size: 14px !important;
    color: #6b7280 !important;
    margin-bottom: 10px !important;
    margin-top: 10px !important;
  }

   input{
     color: black !important;
     border: 1px solid #ddd !important;
     border-radius: 4px !important;
     //background: white;
     width: 100% !important;
     height: 36px !important;
   }
}

::ng-deep .p-button[type="submit"] {
  background: #2f2f2f !important;
  color: white !important;
  border: 2px solid #ddd !important;

  &:hover {
    background: gray !important;
    color: black !important;
    border: 2px solid #ddd !important;

  }
}

::ng-deep .p-button[type="cancel"]{
  background: red !important;
  color: white !important;
  border: 2px solid red !important;

  &:hover {
    background: #a81f1f !important;
  }
}

::ng-deep .table{
  .p-paginator-page.p-paginator-page-selected,
  .p-select-option.p-select-option-selected.p-focus,
  .p-select-option.p-select-option-selected
  {
    background: #ddd !important;
    color: black !important;
  }
}
