// PrimeNG Toast Customization 

::ng-deep .p-toast-message-success .p-toast-detail {
  color: black !important;
}
::ng-deep .p-toast-message-error .p-toast-detail {
  color: black !important;
}
::ng-deep .p-toast-message-info .p-toast-detail {
  color: black !important;
}
