<p-confirmDialog />
<div class="task-container">
  <div class="card flex justify-center">
  </div>
  <div class="page-header">
    <div class="header-left">
      <h2>Tasks</h2>
      <p>Manage your tasks efficiently</p>
    </div>
    <button class="btn-add" routerLink="/tasks-new">+ Add Task</button>
  </div>

  <div class="search-cotainer">
    <input type="text" placeholder="Search tasks..." (input)="onSearch($event)">
  </div>

  <div class="tasks-container">
    <div class="total-task">
      <h3 >Task ({{ tasks.length}})</h3>
    </div>
    <div class="filter-task">
<!--      <label>Category</label>-->
<!--      <select (input)="filterCategory($event)">-->
<!--        <option value="">Select category</option>-->
<!--        @for (cat of categories; track cat.id) {-->
<!--          <option value="{{ cat.name }}">{{ cat.name }}</option>-->
<!--        }-->
<!--      </select>-->
      <p-select class="w-full md:w-56" [options]="categoryOptions"
        (onChange)="filterCategory($event.value)" optionLabel="name" optionValue="value"
        placeholder="All Categories" />



<!--       <label>Status</label>-->
<!--        <select (input)="filterStatus($event)">-->
<!--          <option value="">All</option>-->
<!--          <option value="Pending">Pending</option>-->
<!--          <option value="In Progress">In Progress</option>-->
<!--          <option value="Completed">Completed</option>-->
<!--        </select>-->
      <p-select class="w-full md:w-56" [options]="status"
        (onChange)="filterStatus($event.value)" optionLabel="name" optionValue="value"
        placeholder="All Status"/>
      <!--   we use onchange in place of input because to trigger because primeng uses onchange feature-->
    </div>

    <div class="tasks-card">
      @if (tasks.length > 0) {
        <p-table [value]="tasks" [tableStyle]="{ 'min-width': '50rem' }">
          <ng-template #header>
            <tr>
              <th>Title</th>
              <th>Category</th>
              <th>Due Date</th>
              <th>Status</th>
              <th>Actions</th>
            </tr>
          </ng-template>
          <ng-template #body let-t let-index="index">
            <tr>
              <td>{{ t.title }}</td>
              <td>{{ t.category }}</td>
              <td>{{ t.dueDate | date:'dd/MM/yyyy' }}</td>
              <td>{{ t.status }}</td>
              <td>
                <button title="View" [routerLink]="['/tasks-detail', t.id]">
                  View
                </button>
                <button title="Edit" [routerLink]="['/tasks-edit', t.id]">
                  Edit
                </button>
                <p-button (click)="deleteTask(t.id)" label="Delete" severity="danger" [outlined]="true" />
              </td>
            </tr>
          </ng-template>
        </p-table>
      } @else {
        <div class="empty-state">
          <p>No tasks found. Create a new task to get started!</p>
        </div>
      }
    </div>
  </div>
</div>
